<div class="beertime">
  <pre class="title">
██████╗ ███████╗███████╗██████╗     ████████╗██╗███╗   ███╗███████╗
██╔══██╗██╔════╝██╔════╝██╔══██╗    ╚══██╔══╝██║████╗ ████║██╔════╝
██████╔╝█████╗  █████╗  ██████╔╝       ██║   ██║██╔████╔██║█████╗
██╔══██╗██╔══╝  ██╔══╝  ██╔══██╗       ██║   ██║██║╚██╔╝██║██╔══╝
██████╔╝███████╗███████╗██║  ██║       ██║   ██║██║ ╚═╝ ██║███████╗
╚═════╝ ╚══════╝╚══════╝╚═╝  ╚═╝       ╚═╝   ╚═╝╚═╝     ╚═╝╚══════╝
  </pre>
</div>
