<div class="beertime">
  <pre class="title">
██████╗ ███████╗███████╗██████╗     ████████╗██╗███╗   ███╗███████╗
██╔══██╗██╔════╝██╔════╝██╔══██╗    ╚══██╔══╝██║████╗ ████║██╔════╝
██████╔╝█████╗  █████╗  ██████╔╝       ██║   ██║██╔████╔██║█████╗
██╔══██╗██╔══╝  ██╔══╝  ██╔══██╗       ██║   ██║██║╚██╔╝██║██╔══╝
██████╔╝███████╗███████╗██║  ██║       ██║   ██║██║ ╚═╝ ██║███████╗
╚═════╝ ╚══════╝╚══════╝╚═╝  ╚═╝       ╚═╝   ╚═╝╚═╝     ╚═╝╚══════╝
  </pre>
  <ul class="menu">
    <li><%= link_to "BEERS", beers_path %></li>
  </ul>
</div>
