<h1>BEERS</h1>
<ul class="menu">
  <li><%= link_to "New Beer", new_beer_path %></li>
</ul>
<% if @beers.length > 0 %>
<p>There are beers in the database.</p>
<% else %>
<p>There are no beers in the database.</p>
<% end %>
