@import 'forms';

.custom-checkbox {
  display: flex;
  align-items: center;
  margin-right: 1em;
  label {
    // style for the checkbox
    display: flex;
    width: $field-height;
    height: $field-height;
    background-color: $primary;
    &:after {
      // style for the checkmark
      content: '✓';
      color: $light-accent;
      line-height: 1.4em;
      margin-left: 0.3em;
      opacity: 0;
    }
    &:hover::after {
      opacity: 0;
    }
  }
  input[type=checkbox] {
    display: none;
    &:checked + label:after {
      opacity: 1;
    }
  }
}
