@import 'colors';

.beertime {
  align-items: center;
  flex-direction: column;
  .title {
    color: $foreground;
  }
  .menu {
    list-style: none;
    font-size: larger;
    line-height: 1.2em;
  }
}
