@import 'colors';
@import 'whitespace';

$logo-size: 6rem;

.beertime {
  .header {
    display: flex;
    align-items: center;
    img {
      width: $logo-size;
      margin-right: $default-margin;
    }
    .title {
      color: $dark-base;
      font-family: 'Bungee', cursive;
    }
  }
  .menu {
    display: flex;
    padding-left: 0;
    list-style: none;
    font-size: larger;
    line-height: 1.2em;
    text-transform: capitalize;
    li {
      font-weight: bold;
      margin-left: 2em;
      margin-right: 2em;
    }
  }
}
