@import 'colors';
@import 'layout';

$logo-size: 6rem;

.beertime {
  .header {
    display: flex;
    align-items: center;
    img {
      width: $logo-size;
      margin-right: $default-margin;
    }
    .title {
      color: $dark-base;
      font-family: 'Bungee', cursive;
    }
  }
}
