@import 'colors';

.beertime {
  align-items: center;
  flex-direction: column;
  .title {
    color: $dark-base;
    font-family: 'Bungee', cursive;
  }
  ul {
    list-style: none;
    padding-left: 0;
  }
}
